# Titanic<sub>An introduction to machine learning <sub>
[Home Page](https://www.kaggle.com/c/titanic)

<img src="https://i0.wp.com/intheboatshed.net/wp-content/uploads/2008/04/titanic_4.jpg" width="800px">

# Interesting Links

kaggle intern:
 - https://www.kaggle.com/alexisbcook/titanic-tutorial
 - https://www.kaggle.com/parulpandey/10-simple-hacks-to-speed-up-your-data-analysis#758058
 
 others:
 - https://pandas-profiling.github.io/pandas-profiling/docs/

# Settings

In [1]:
# settings
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
#To revert to the original setting :
# InteractiveShell.ast_node_interactivity = "last_expr"

# Imports

In [2]:
#imports
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas_profiling # dataframe profiling @
import os

In [3]:
# walk file structure and find input data
input_files=[]
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        path=os.path.join(dirname, filename)
        if path.endswith('submission.csv'):
            path_gs=path
        elif path.endswith('test.csv'):
            path_test=path
        elif path.endswith('train.csv'):
            path_train=path
print(path_gs,path_test,path_train)

/kaggle/input/titanic/gender_submission.csv /kaggle/input/titanic/test.csv /kaggle/input/titanic/train.csv

# Data Frame Creation

In [4]:
# create a dataframe for each csv file
df_gs=pd.read_csv(path_gs)
df_test=pd.read_csv(path_test)
df_train=pd.read_csv(path_train)

# display
# df_gs.head()
# df_test.head()
#df_train.head()

# DataFrame Profile Report

In [5]:
#profile report fpor each df
# source : https://pypi.org/project/pandas-profiling/
#df_test.profile_report(title='Titanic test')

In [6]:
#profile report for notebook export
# source : https://pypi.org/project/pandas-profiling/

# #gender sub
# profile_gs = df_gs.profile_report(title='Titanic gender submission')
# profile_gs.to_file(output_file="kaggle/profile_report/Titanic gender submission.html")

# #gender sub
# profile_test = df_test.profile_report(title='Titanic test')
# profile_test.to_file(output_file="kaggle/profile_report/Titanic test.html")

# #gender sub
# profile_train = df_train.profile_report(title='Titanic train')
# profile_train.to_file(output_file="kaggle/profile_report/Titanic train.html")

# A simple aproach

## Wrangling

In [7]:
def df_wrangle(df):
    df.loc[df.Sex=='female','Sex_num']=200
    df.loc[df.Sex=='male','Sex_num']=100
    df.loc[df.Age<21,'Age_num']=10
    df.loc[df.Age>=21,'Age_num']=20
    df.loc[df.Age.isna(),'Age_num']=30
    df['crit']=df.Sex_num+df.Pclass+df.Age_num
    df.drop(['Age_num','Sex_num'],axis=1,inplace=True)
    return df

In [8]:
df=pd.read_csv(path_train)
df=df_wrangle(df)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,crit
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,123.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,221.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,223.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,221.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,123.0

In [9]:
df_surviving_rate=df[['crit','Survived']].groupby('crit',as_index=False).mean()
df_surviving_rate.rename(columns={'Survived':'Surviving_rate'},inplace=True)
df_surviving_rate

     crit  Surviving_rate
0   111.0        0.571429
1   112.0        0.526316
2   113.0        0.194805
3   121.0        0.382979
4   122.0        0.062500
5   123.0        0.130682
6   131.0        0.238095
7   132.0        0.222222
8   133.0        0.095745
9   211.0        0.928571
10  212.0        1.000000
11  213.0        0.510638
12  221.0        0.971831
13  222.0        0.896552
14  223.0        0.418182
15  231.0        1.000000
16  232.0        1.000000
17  233.0        0.595238

In [10]:
def surviving_rate(critt):   
    return df_surviving_rate.Surviving_rate.loc[df_surviving_rate.crit==critt].values[0]

# apply critt to df_test

In [11]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [12]:
df_test=df_wrangle(df_test)
df_test=df_test[['PassengerId','crit']]
df_test.head()

   PassengerId   crit
0          892  123.0
1          893  223.0
2          894  122.0
3          895  123.0
4          896  223.0

# Prediction

In [23]:
df_test.loc[:,'Surviving_rate']=df_test.apply(lambda x: surviving_rate(x['crit']),axis=1)
df_test.loc[:,'Survived']=0
df_test.head()

   PassengerId   crit  Surviving_rate  Survived  Survived_rate
0          892  123.0        0.130682         0              0
1          893  223.0        0.418182         0              0
2          894  122.0        0.062500         0              0
3          895  123.0        0.130682         0              0
4          896  223.0        0.418182         0              0

In [88]:
val_list={}
for critt in df_test.crit.unique():
    lenght=len(df_test.loc[df_test.crit==critt])
    surv=round(surviving_rate(critt),3)
    val=[1]
    for i in range(lenght-1):     
        if np.mean(val)<=surv:
            val.append(1)
        else:
            val.append(0)
    real_surv=round(np.mean(val),3)        
    val_list[critt]={'length': lenght,
                    'surv':surv,
                    'real_surv':real_surv,
                    'val_list':val}
    #print(critt,lenght,surv,real_surv)
    df_test.loc[df_test.crit==critt,'Survived']=val_list[critt]['val_list']

#val_list[123]['val_list']

# submission

In [ ]:
df_export=df_test[['PassengerId','Survived']]
df_export.to_csv('my_first_submission.csv')